# 忽略配置文件
*.ini

# 忽略日志文件
*.log
/logs/
logs/
*.log.*
*.log.*.gz
*.log.*.zip
*.log.*.tar
*.log.*.tar.gz

# 忽略Python编译缓存
**/*.pyc
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# 忽略虚拟环境
.venv/
venv/
ENV/
env/
.env
.venv
env.bak/
venv.bak/

# 忽略IDE相关
.idea/
.vscode/
*.swp
*.swo
*~

# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略附件文件
/files

## 忽略迁移相关文件
alembic/versions/